// _collectonForm.scss

.collection-form-container {
  display: flex;
  justify-content: center;

  .collection-form {
    width: 30rem;
    background: #efefef;
  }

  .collection-form-group {
    margin: 1rem;
  }

  .btn-submit-collection {
    margin: 1rem;
  }
  
  .btn {
    margin: 1rem 0 1rem;
  }
  .card-btn-container {
    display: flex;
    justify-content: space-between;
  }
}
