// _workoutForm.scss

.workout-form {
  width: 90%;
  margin: auto;
  
  .form-group-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background: #efefef;
  }

  .workout-form-group {
    margin: 1rem 0 0;
    flex-basis: 35%;
    min-width: 200px;
  }
  .form-listing-wrapper {
    margin: 1rem .1rem 0;
  }
  .form-group-listing {
    flex-basis: 55%;
    min-width: 500px;
  }

  .add-set-group-icon {
    margin: .5rem 0 .5rem;
    cursor: pointer;
  }

  .add-set-group-icon i {
    margin: .5rem .2rem .5rem 1rem;
  }

  .remove-group i {
    cursor: pointer;
    padding: 3rem 0 0 1rem;
  }

  label {
    margin: .3rem 0 .1rem .5rem;
  }

  .set-interval {
    padding: 0 .2rem 0;
  }

  ul {
    list-style-type: none;
    padding-inline-start: .2rem;
  }

  div.checkbox-container {
    max-height: 8rem;
    width: 95%;
    margin: 5px 0 5px;
    overflow: auto;
    text-align: left;
    background-color: white;
    border-radius: 5px;
  }
  
  .form-check-input {
    margin-top: .8rem;
  }
  .public-checkbox {
    position: relative;
    margin: 0 0 2rem;
  }

  .submit-workout {
    margin: 0 0 .5rem 0;
  }
  
  .btn {
    margin: 1rem 0 1rem;
  }
  
  .card-btn-container {
    display: flex;
    justify-content: space-between;
  }
}
