// _workoutForm.scss

.workout-form {
  width: 90%;
  margin: auto;
  
  .form-group-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background: #efefef;
  }

  .workout-form-group {
    margin: 1rem 0 0;
    flex-basis: 35%;
  }
  .form-listing-wrapper {
    margin: 1rem .1rem 0;
  }
  .form-group-listing {
    flex-basis: 55%;
  }
}
