
.workout-form {
  .form-group-data {
    margin: .4rem 0 .3rem 0;
  }

  .form-group-title, .group-repetitions, .interval-header {
    font-weight: 600;
  }

  .set-interval, interval-header {
    text-align: right;
  }

}
