@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';
@import 'navbar';
@import 'home';
@import 'workoutView';
@import 'workoutCard';
@import 'sharedWorkoutCard';
@import 'workoutForm';
@import 'workoutFormCard';
@import 'collectionsView';
@import 'collectionCard';
@import 'collectionForm';
@import 'userForm';

body {
  background-color: $favColor !important;
  background-image: $favBackground;
  background-repeat: no-repeat;
  background-position: center;
}

h1, h2 { 
  text-align: center;
}

label { 
  margin: .5rem 0 .2rem
}

.card-spinner { 
  position: relative; 
  top: 50%;
  left: 50%; 
}
