@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';
@import 'navbar';
@import 'home';
@import 'workouts';

body {
  background-color: $favColor;
  background-image: $favBackground;
  background-repeat: no-repeat;
  background-position: 38% 35%;
}

h1, h2 { 
  text-align: center;
}
